/* All the page colours can be edited here.

   -The cookie pupop colours can be edited in the original .html file 
   on the function: 'changeCookies'.

   -The size of the navbar when scrolling down 
   can be changed on the function: 'addSmall'.
*/

body {
  margin: 0;
  font-size: 25px;
  color: rgb(3,3,3);
  background-color: rgb(24,24,24);
  font-family: Arial, Helvetica, sans-serif;
}

.btn { /* button color (light mode) */
  border: none; border-width:1px; /* change 'none' to 'solid' to add border */
  padding: 14px 28px;
  cursor: pointer; 
  background-color: rgb(33,33,33); color: rgb(255,255,255);}
  .btn:hover {background-color: rgb(56,56,56); /* button color on hover (light mode) */
}

.mainTextDark { /* text style of text with 'mainTextDark' class (dark mode) */
  color: rgb(255,255,255);
  font-size: 1.5em;  /* similar to <h2> */
  font-weight: bolder; /* similar to <h2> */
}

.secondaryTextDark { /* text style of text with 'secondaryTextDark' class (dark mode) */
  color: #f6f6f6;
  font-size: 1.0em; /* similar to <p> */
}

.unselectable { /* class to make text unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.colum{
  margin-left: 35px;
  margin-top: 50px;
}
.differentiate{
  margin-bottom: 35px;
}