/* [START] 'fonts' */
@font-face {
  font-family: "MINIRegular";
  src: url("fonts/mini_serif-regular-web.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MINISansReg";
  src: url("fonts/mini_sans_serif-regular-web.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
/* [END] 'fonts' */


/* [START] 'extras' */
br {  
   display: block;
   margin: 5px 0;
}
.unselectable { 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* [END] 'extras' */


/* [START] 'cookies popup' */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 1%; /* 1% to keep animation functioning, but enable page clicking. change to 100% to disable page clicking */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.0); /* Black w/ 0.4 opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal-content {
  position: fixed;
  bottom: 0;
  color: black;
  background-color: #ffffff;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal-header {
  width: 100%;
  box-shadow: 0 -5px 5px -5px #333;
  font-family: 'MINIRegular', serif;
  font-size: 24px;
  line-height: 24px;
  padding: 2px 16px;
  padding-top: 12px;
  background-color: #ffffff;
  color: black;
}

.modal-body {
  font-family: 'MINIRegular', serif;
  font-size: 18px;
  line-height: 24px;
  padding: 2px 13px;
  padding-bottom: 22px; 
  padding-top: 15px;
}
.modal-body-hr {
  padding: 2px 16px;
}

.modal-footer {
  padding: 10px 13px;
  padding-bottom: 0px; 
  background-color: #ffffff;
  color: black;
  margin-left: 9.5%;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid #000;
  display: inline-block;
  font-family: 'MINISansReg', Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  border-bottom: 1px solid #000;
  display: inline-block;
  font-family: 'MINISansReg', Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
}
.modal-footer-btnDiv {
  padding: 48px 13px;
  padding-top: 36px;
  background-color: #ffffff;
  color: black;
  margin-left: 9.5%;
}
.modal-footer-button{
  border: solid; border-width:2.5px; border-color: #0085ac;
  padding: 10px 114px;
  cursor: pointer; 
  font-size: 16px;
  font-family: 'MINISansReg', Arial, sans-serif;
  background-color: #0085ac; color: white;}
  .modal-footer-button:hover {background-color: white; color: #4a4a4a; border-color: #0085ac;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@media only screen and (max-width: 1879px){ /* when zoomed in or on smalled device */
.modal-footer-button{
  border: solid; border-width:2.5px; border-color: #0085ac; /* change 'none' to 'solid' to add border */
  padding: 10px 100px;
  cursor: pointer; 
  font-size: 14px;
  font-weight: 600;
  background-color: #0085ac; color: white;}
  .modal-footer-button:hover {background-color: white; color: #4a4a4a; border-color: #0085ac; /* button color on hover (light mode) */
}
}
/* [END] 'cookies popup' */