/* All the page colours can be edited here.

   -The cookie pupop colours can be edited in the original .html file 
   on the function: 'changeCookies'.

   -The size of the navbar when scrolling down 
   can be changed on the function: 'addSmall'.
*/

body {
  margin: 0;
  font-size: 25px;
  color: rgb(3,3,3);
  background-color: #f6f6f6; /* page color (light mode) */
  font-family: Arial, Helvetica, sans-serif;
}
.dark-mode{ /* page color (dark mode) */
  background-color: rgb(24,24,24);
}

.headerL { /* header color (light mode) */
  color: rgb(3,3,3);
  background-color: rgb(249,249,249);
  padding: 30px;
  text-align: center;
}
.headerD { /* header color (dark mode) */
  color: rgb(255,255,255);
  background-color: rgb(24,24,24);
}

.navbarL { /* navbar background color (light mode) */
  width: auto;
  min-width: 1040px;
  overflow: hidden;
  z-index: 2;
  background-color: rgb(255,255,255);
}
.navbarL a { /* navbar text color (light mode) */
  float: left;
  display: block;
  color: rgb(3,3,3);
  text-align: center;
  padding: 14px 16px; /* navbar size (light mode) */
  text-decoration: none;
}
.navbarL a:hover { /* navbar tab color on hover (light mode) */
  background-color: rgb(242,242,242);
  color: rgb(3,3,3);
}
.navbarL a.active { /* navbar tab color when active (light mode) */
  background-color: rgb(229,229,229);
  color: rgb(3,3,3);
}
.navbarL a.active:hover { /* navbar tab color on hover & when active (light mode) */
  background-color: rgb(217,217,217);
  color: rgb(3,3,3);
}

.navbarD { /* navbar background color (dark mode) */
  width: auto;
  min-width: 1040px;
  overflow: hidden;
  z-index: 2;
  background-color: rgb(32,32,32);
}
.navbarD a { /* navbar text color (dark mode) */
  float: left;
  display: block;
  color: rgb(255,255,255);
  text-align: center;
  padding: 14px 16px; /* navbar size (dark mode) */
  text-decoration: none;
}
.navbarD a:hover { /* navbar tab color on hover (dark mode) */
  background-color: rgb(56,56,56);
  color: white;
}
.navbarD a.active { /* navbar tab color when active (dark mode) */
  background-color: rgb(56,56,56);
  color: white;
}
.navbarD a.active:hover { /* navbar tab color on hover & when active (dark mode) */
  background-color: rgb(76,76,76);
  color: white;
}

.btn { /* button color (light mode) */
  border: none; border-width:1px; /* change 'none' to 'solid' to add border */
  padding: 14px 28px;
  cursor: pointer; 
  background-color: rgb(255,255,255); color: rgb(3,3,3);}
  .btn:hover {background: rgb(242,242,242); /* button color on hover (light mode) */
}
.toDark {border: none; border-width:1px;} /* change 'none' to 'solid' to add border*/
.toDark {background-color: rgb(33,33,33); color: rgb(255,255,255);} /* button color (dark mode) */
.toDark:hover {background-color: rgb(56,56,56);} /* button color on hover (dark mode) */

.mainTextLight { /* text style of text with 'mainTextLight' class (light mode) */
  color: rgb(3,3,3);
  font-size: 1.5em; /* similar to <h2> */
  font-weight: bolder; /* similar to <h2> */
}
.mainTextDark { /* text style of text with 'mainTextDark' class (dark mode) */
  color: rgb(255,255,255);
  font-size: 1.5em;  /* similar to <h2> */
  font-weight: bolder; /* similar to <h2> */
}

.secondaryTextLight { /* text style of text with 'secondaryTextDark' class (light mode) */
  color: #000000;
  font-size: 1.0em; /* similar to <p> */
}
.secondaryTextDark { /* text style of text with 'secondaryTextDark' class (dark mode) */
  color: #f6f6f6;
  font-size: 1.0em; /* similar to <p> */
}

.content {
  padding: 16px;
}
.sticky { /* desktop */
  position: sticky; /* sticky on desktop */
  top: 0;
  width: 100%;
  opacity: 0.98; /* the opacity of the navbar when scrolling down */
}
.sticky + .content {
  padding-top: 60px;
}

.unselectable { /* class to make text unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  height: auto; 
  background-color: #EB4034;
  position: static;
  top: 0;
  width: auto;
  min-width: 1040px;
}
.headerText {
  color: white; 
  padding: 24px; 
  margin: 0; 
  text-align: center;
}

footer {
  height: auto; 
  background-color: #EB4034;
  position: static;
  bottom: 0;
  width: auto;
  min-width: 1040px;
}
.footerText {
  color: white; 
  padding: 20px; 
  margin: 0; 
  text-align: center;
}

section {
  display: -webkit-flex;
  display: flex;
  width: 1040px;
  max-width: 1040px;
  min-width: 1040px;
  margin-left: 22.68%;
  margin-right: 22.68%;
}

.article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
}
.articleDark{
  background-color: #575757;
}

.empty {
  font-size: 10px;
}

.testCl{
  margin-left: 22.68%;
}

.BarEh{
  list-style-type:  none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  width: auto;
  min-width: 1040px;
  z-index: 2;
  background-color: rgb(255,255,255);
}
.BarEh a{
  display: inline-block;
  color: rgb(3,3,3);
  padding: 14px 16px; /* navbar size (light mode) */
  text-decoration: none;
}
.BarEh a:hover{
  background-color: rgb(242,242,242);
  color: rgb(3,3,3);
}
.BarEh a.active {
  background-color: rgb(229,229,229);
  color: rgb(3,3,3);
}
.BarEh a.active:hover {
  background-color: rgb(217,217,217);
  color: rgb(3,3,3);
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 160px;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 128px;
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: rgb(229,229,229);
}
.dropdown:hover .dropdown-content {
  display: none;
}
.dropdownShow:hover .dropdown-content {
  display: block;
}

.BarEhDark{
  list-style-type:  none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  width: auto;
  min-width: 1040px;
  z-index: 2;
  background-color: rgb(32,32,32);
}
.BarEhDark a {
  display: inline-block;
  color: rgb(255,255,255);
  padding: 14px 16px; /* navbar size (light mode) */
  text-decoration: none;
}
.BarEhDark a:hover {
  background-color: rgb(56,56,56);
  color: white;
}
.BarEhDark a.active {
  background-color: rgb(56,56,56);
  color: white;
}
.BarEhDark a.active:hover {
  background-color: rgb(76,76,76);
  color: white;
}
.dropdown-contentDark {
  display: none;
  position: absolute;
  background-color: rgb(32,32,32);
  color: rgb(255, 255, 255);
  width: 160px;
  box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
  z-index: 1;
}
.dropdown-contentDark a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 128px;
  z-index: 1;
}
.dropdown-contentDark a:hover {
  background-color: rgb(56,56,56);
}

.show {
  display: block;
}

@media only screen and (max-width: 1023px){ /* mobile devices/tablets */
.sticky {
  position: fixed; /* fixed on mobile devices */
  top: 0;
  width: 100%;
  opacity: 0.98; /* the opacity of the navbar when scrolling down */
}
}
@media only screen and (max-width: 1919px){ /* not fullscreen */
section {
  display: -webkit-flex;
  display: flex;
  width: 1040px;
  max-width: 1040px;
  min-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}
.testCl {
  margin-left: auto;
}
}